$color-dark-red: #730503;
$color-offwhite: #F4EDE5;
$color-white: #FFFFFF;
$color-black: #000000;
$color-black--shadow: #00000080;
$color-lightgrey: #e5e7eb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: "Platform-Medium";
  src: url("Platform-Medium-Web.woff2") format("woff2"),
  url("Platform-Medium-Web.woff") format("woff");
}

@font-face {
  font-family: "Platform-Regular";
  src: url("Platform-Regular-Web.woff2") format("woff2"),
  url("Platform-Regular-Web.woff") format("woff");
}

@font-face {
  font-family: "GT-Super-Display-Light-Italic";
  src: url("GT-Super-Display-Light-Italic.woff2") format("woff2"),
  url("GT-Super-Display-Light-Italic.woff") format("woff");
}

@font-face {
  font-family: "GT-Super-Display-Light";
  src: url("GT-Super-Display-Light.woff2") format("woff2"),
  url("GT-Super-Display-Light.woff") format("woff");
}

@font-face {
  font-family: "GT-Super-Display-Medium";
  src: url("GT-Super-Display-Medium.woff2") format("woff2"),
  url("GT-Super-Display-Medium.woff") format("woff");
}

@font-face {
  font-family: "GT-Super-Text-Book";
  src: url("GT-Super-Text-Book.woff2") format("woff2"),
  url("GT-Super-Text-Book.woff") format("woff");
}

body {
  font-family: "Platform-Medium", sans-serif;
  color: $color-black;
  background-color: $color-offwhite;
  font-weight: 300;
  line-height: 1.5;
}

main {
  margin-top: 6rem;
}

section:not(#featured-collections, #featured-products) {
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  padding-bottom: 6rem;
  max-width: 136rem;
  margin: 0 auto;

  @include respond(tab-land) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 8rem;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.section__title {
  font-family: 'GT-Super-Display-Light';
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;

  span {
    font-size: 5rem;
  }

  @include respond(tab-land) {
    font-size: 8rem;
    line-height: 8rem;
    margin-bottom: 6rem;

    span {
      font-size: 10rem;
    }
  }
}

.section__cta {
  font-family: 'Platform-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  margin: auto;
  text-decoration: unset;
  border-bottom: 1px solid $color-black;
}

.sidecart {
  position: fixed;
  background-color: $color-white;
  top: 0;
  right: 0;
  width: 90vw;
  height: 100vh;
  z-index: 100;

  @include respond(tab-land) {
    width: 40vw;
  }
}

.sidecart-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  li {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: .25em;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
  }
}

.bg-sidecart,
.modal-background {
  position: fixed;
  background-color: $color-black--shadow;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.sidecart,
.bg-sidecart {
  display: none;
}

.sidecart.active,
.bg-sidecart.active {
  display: block;
}